body {
    font-family: Arial, Helvetica,"san serif";
    background-color:orchid;
    padding: 25px;
    font-size: 120%;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 10px;
}

p#orange-one{
  color: orange;
}

p.callout{
  color: yellow;
}

.callout {
  color: black;
}

div.callout p {
  color: red;
}

p.special {
  color: coral;
}
p {
  color: black;
}



div#content {
    padding: 50px;
    background-color: white;
    border: solid 0px #333333;
    height: 70vh;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 10px;
}


h1, h2, h3 {
    font-family: Arial, Helvetica,sans-serif;
    color: Navy;
    font-style: italic;
}

img {
    float: left;
    width: 400px;
    height: auto;
}


a {
    font-family: Arial, Helvetica,sans-serif;
    font-style: italic;
    text-decoration: none;
    color: yellow;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
