body {
    font-family: Arial, Helvetica,"san serif";
    color: darkblue;
    background-color: paleturquoise;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: white;
    border: solid 0px #333333;
    height: 80vh;
}

h1, h2, h3 {
    font-family: "san serif", monospace;
}

img {
    float: left;
    width: 400px;
    height: auto;
}


a {
    font-family: "san serif", monospace;
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
